.modal-section-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.visit-info-section,
.payment-confirmation-section,
.center-exception-limits {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-evenly;

    margin-bottom: 1.5rem;
}

.payment-confirmation-section {
    flex-direction: column;
}

.visit-info-row,
.payment-confirmation-row,
.exception-limit-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    margin-left: 1rem;
}

.visit-info-row > p,
.payment-confirmation-row > p {
    font-size: 15px;
}

.exception-rate-section {
    display: flex;
    flex-direction: column;
}

.payment-confirmation-message {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.exception-limit-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: #f1f1f1;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;

    text-align: center;
}

.exception-limit-container > h3 {
    font-size: 20px;
    font-weight: bold;
}

.exception-limit-container > p {
    font-size: 18px;
}

lightning-radio-group {
    margin-left: 1rem;
    --lwc-fontSize3: 15px;
}