@import 'c/sharedCss';

.center-icon {
    --lwc-colorTextIconDefault: #99429c;
}

.photo-icon {
    --lwc-colorTextIconDefault: #e5ddf4;
}

.legal-and-marketing-opts-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}