@import 'c/sharedCss';

.slds-progress {
    max-width: unset;
}

.progress-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.progress-item-wrapper {
    background-color: #F5F0FF;
    width: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.progress-item-active {
    border: 1px solid #983285;
    background: #983285;
    color: white;
}

.progress-item-complete {
    background-color: #D1C7E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-item-inactive {
    border: 1px solid #983285;
}

.progess-text {
    font-weight: bold;
}

.progress-item-complete,
.progress-item-active,
.progress-item-inactive {
    width: 22px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
}