@import 'c/sharedCss';

.filtered {
    display: none;
}

.unfiltered {
    display: inline-flex;
}

.visit-popup-container {
    position: absolute;
    width: 380px;
    height: 200px;
    left: -166px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}