:host {
    --pro-background-color: #f5f0ff; /* TODO: get from style guide */

    --sds-c-input-color-background: var(--pro-background-color);
    --sds-c-input-color-border: #d1c7e4; /* TODO: get from style guide */
    --sds-c-input-text-color: #000;

    --sds-c-tabs-item-color-border-active: #99429c;
    --sds-c-tabs-item-color-border-hover: #99429c;
    --sds-c-tabs-item-text-color-active: #000;

    --sds-c-checkbox-color-border: #5c3e99;
    --sds-c-checkbox-color-background: var(--pro-background-color);
    --sds-c-checkbox-color-background-checked: #5c3e99;
    --sds-c-checkbox-color-border-checked: #5c3e99;
    --sds-c-checkbox-mark-color-foreground: var(--pro-background-color);
}

:host .primary-button {
    --sds-c-button-brand-color-background: #5C3E99;
    --sds-c-button-brand-color-border: #5C3E99;
    --sds-c-button-brand-color-background-hover: #99429C;
    --sds-c-button-brand-color-border-hover: #99429C;
}

:host .modal-header {
    --sds-c-modal-header-color-background: #F5F0FF;
}

:host .modal-footer {
    --sds-c-modal-footer-color-background: #F5F0FF;
}

:host .modal-body {
    --sds-c-modal-body-color-background: #F5F0FF;
}

.primary-button[disabled], .primary-button:disabled {
    background-color: #d1c7e4; /* TODO: get from style guide */
    border-color: #d1c7e4; /* TODO: get from style guide */
}

:host .secondary-button {
    --sds-c-button-neutral-color-background: var(--pro-background-color);
    --sds-c-button-neutral-color-background-hover: var(--pro-background-color);
    --sds-c-button-neutral-color-border: #5c3e99;
    --sds-c-button-neutral-color-border-hover: #99429C;
    --sds-c-button-text-color: #5c3e99;
    --sds-c-button-text-color-hover: #99429C;
}

:host .tertiary-button {
    --sds-c-button-text-color: #5c3e99;
    --sds-c-button-text-color-hover: #99429C;
}

:host .modal-button-primary  {

    --sds-c-button-neutral-color-background: #5C3E99;
    --sds-c-button-neutral-color-border: #5C3E99;
    --sds-c-button-neutral-color-background-hover: #99429C;
    --sds-c-button-neutral-color-border-hover: #99429C;
    --sds-c-button-text-color: #ffffff;
    --sds-c-button-text-color-hover: #ffffff;
}

.title-large {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.title-medium {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
}

.title-small {
    font-size: 1.0rem;
    font-weight: 600;
    color: #000;
}

/* custom donor dot colors */
:host .scheduled {
    --sds-c-icon-color-background : #A5D6A7;
}

:host .checked-in {
    --sds-c-icon-color-background : #66BB69;;
}

:host .donation-complete {
    --sds-c-icon-color-background : #43A046;
}

:host .paid-visit-complete {
    --sds-c-icon-color-background : #1B5E1F;
}

:host .late {
    --sds-c-icon-color-background : #B0ADAB;
}

:host .cancelled {
    --sds-c-icon-color-background : #EF9A9A;
}

:host .deferred-left-center {
    --sds-c-icon-color-background : #E53835;
}

:host .missed {
    --sds-c-icon-color-background :#B71A1C;
}