:host {
    /* Proesis */
    --pro-background-color: #f5f0ff; /* TODO: get from style guide */
    --pro-border-color: #d1c7e4; /* TODO: get from style guide */
    --pro-text-color: #000;

    /* Input */
    --sds-c-input-color-background: var(--pro-background-color);
    --sds-c-input-color-border: var(--pro-border-color);
    --sds-c-input-text-color: var(--pro-text-color);

    /* Tabs */
    --sds-c-tabs-item-color-border-active: #99429c;
    --sds-c-tabs-item-color-border-hover: #99429c;
    --sds-c-tabs-item-text-color-active: var(--pro-text-color);

    /* Checkbox */
    --sds-c-checkbox-color-border: #5c3e99;
    --sds-c-checkbox-color-background: var(--pro-background-color);
    --sds-c-checkbox-color-background-checked: #5c3e99;
    --sds-c-checkbox-color-border-checked: #5c3e99;
    --sds-c-checkbox-mark-color-foreground: var(--pro-background-color);

    /* Modal */
    --sds-c-modal-header-color-background: var(--pro-background-color);
    --sds-c-modal-content-color-background: var(--pro-background-color);
    --sds-c-modal-footer-color-background: var(--pro-background-color);
}

:host .primary-button {
    --sds-c-button-brand-color-background: #5C3E99;
    --sds-c-button-brand-color-border: #5C3E99;
    --sds-c-button-brand-color-background-hover: #99429C;
    --sds-c-button-brand-color-border-hover: #99429C;
}

.primary-button[disabled], .primary-button:disabled {
    background-color: var(--pro-border-color);
    border-color: var(--pro-border-color);
}

:host .secondary-button {
    --sds-c-button-neutral-color-background: var(--pro-background-color);
    --sds-c-button-neutral-color-background-hover: var(--pro-background-color);
    --sds-c-button-neutral-color-border: #5c3e99;
    --sds-c-button-neutral-color-border-hover: #99429C;
    --sds-c-button-text-color: #5c3e99;
    --sds-c-button-text-color-hover: #99429C;
}

.secondary-button[disabled], .secondary-button:disabled {
    background-color: var(--pro-background-color);
    border-color: var(--pro-border-color);
    color: var(--pro-border-color);
}

:host .tertiary-button {
    --sds-c-button-text-color: #5c3e99;
    --sds-c-button-text-color-hover: #99429C;
}

.title-large {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--pro-text-color);
}

.title-medium {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--pro-text-color);
}

.title-small {
    font-size: 1.0rem;
    font-weight: 600;
    color: var(--pro-text-color);
}


/* ################################################ */
/* INTERNAL */
/* ################################################ */

:host .modal-button-primary  {
    --sds-c-button-neutral-color-background: #5C3E99;
    --sds-c-button-neutral-color-border: #5C3E99;
    --sds-c-button-neutral-color-background-hover: #99429C;
    --sds-c-button-neutral-color-border-hover: #99429C;
    --sds-c-button-text-color: #ffffff;
    --sds-c-button-text-color-hover: #ffffff;
}

/* custom donor dot colors */
:host .outcome-no-show {
    --sds-c-icon-color-background: #141115;
    background: #141115;
}
:host .outcome-canceled {
    --sds-c-icon-color-background: #4C2B36;
    background: #4C2B36;
}
:host .outcome-rescheduled {
    --sds-c-icon-color-background: #419D78;
    background: #419D78;
}
:host .outcome-donation {
    --sds-c-icon-color-background: #4D7298;
    background: #4D7298;
}

:host .status-scheduled {
    --sds-c-icon-color-background: #003DCC;
    background : #003DCC;
}
:host .status-checked-in {
    --sds-c-icon-color-background: #DF2935;
    background : #DF2935;
}