@import 'c/sharedCss';

.my-wallet-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    border: 1px solid #D1C7E4;
    border-radius: 8px;

    padding: 1rem;
}

.wallet-field {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 14px;
}

.my-status-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.my-status-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loyalty-tiers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 12px;
}

.loyalty-tier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    text-align: center;
    flex: 1;

    padding: 8px;
    border-radius: 1rem;
}

.loyalty-tier[data-is-current="true"] {
    background-color: #E5DDF4;
}

.loyalty-tier-badge {
    display: flex;
    width: 64px;
    height: 64px;
}

c-loyalty-tier-badge {
    flex: 1;
    align-self: center;
}

.no-card-info-container,
.card-info-container,
.transaction-card {
    padding: 10px;
    background-color: #f5f0ff;
    border-color: #D1C7E4;
}

.no-card-info-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.visa-card {
    width: 84px;
    background: #e6def4;
    height: 48px;
    border-radius: 4px;
}

.transaction-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: black;
}

.transaction-name-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.transaction-rollup-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.transaction-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.transaction-line-item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 3px 6px;
    background: #ece3fb;
    border-radius: 4px;
}

.line-item-grid {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    place-content: center;
    gap: 4px;
}